{% extends "index.html" %}
{% block title %} Register Page {% endblock title%}
{% block content %}
<div class="reg_wrap">
    <div class="reg_container">
        <div class="reg_inpts">
            <div class="reg_title">
                <h3 class="" style="font-size: 50px;">Create Account</h3>
            </div>
            <div class="reg_inp_cont">
                <form method="POST">
                    {% csrf_token %}
                    {% if form.errors %}
                    <div class="xz" role="alert">
                        <div id="form_errors">
                            {% for key, value in form.errors.items %}
                            <strong class="reg_title">{{ value }}</strong>
                            {% endfor %}
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                    <div class=" form_row3">
                        <div class="col_md_7">
                            <div class="form2_group">
                                <p>First Name</p>
                                {{ form.first_name }}
                            </div>
                        </div>
                        <div class="col_md_6">
                            <div class="form2_group">
                                <p>Last Name</p>
                                {{ form.last_name }}
                            </div>
                        </div>
                    </div>
                    <div class=" form_row3">
                        <div class="col_md_7">
                            <div class="form2_group">
                                <label class="">Username</label>
                                {{ form.username }}
                            </div>
                        </div>
                        <div class="col_md_7">
                            <div class="form2_group">
                                <label class="">Email</label>
                                {{ form.email }}
                            </div>
                        </div>
                    </div>
                    <div class=" form_row3">
                        <div class="col_md_7">
                            <div class="form2_group">
                                <label class="">Password</label>
                                {{ form.password1 }}
                                {{ form.errors.password }}
                            </div>
                        </div>
                        <div class="col_md_6">
                            <div class="form2_group">
                                <label class="small">Confirm Password</label>
                                {{ form.password2 }}
                            </div>
                        </div>
                    </div>
                    <div class="form2_group    ">
                        <button type="submit" class="">Sign Up</button><br><br>
                    </div>
                </form>
            </div>
            <div class="col_md_6">
                <div class="small">
                    <a href="{% url 'login' %}" class="have" style="font-size: 25px;">Have an account? Go to <span>Sign
                            in</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}