.form_cont {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.form_cont > div {
  flex: 0 1 35%;
  margin: 0 auto;
  background-color: rgba(240, 248, 255, 0.103);
  padding: 10px 16px;
}

.form_cont div form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.first_form > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.first_form > div > input {
  padding: 10px 15px;
  width: 450px;
  border-radius: 3px;
  border: 0.5px solid gray;
  outline: none;
}

.first_form div label {
  font-size: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-group > input {
  padding: 10px 15px;
  width: 450px;
  border-radius: 3px;
  border: 0.5px solid gray;
  outline: none;
}

.first_form2 div label {
  font-size: 20px;
}

.form_row {
  border-radius: 3px;

  width: 450px;
  text-align: center;
  background-color: aliceblue;
}

.form_group button {
  border-radius: 3px;
  width: 450px;
  height: 100%;
  padding: 10px 15px;
  border: none;
  font-size: 20px;
}
.log_sign {
  width: 100%;
  height: 40px;
  border: 2px solid white;
  background: rgba(0, 0, 0, 0);
  font-size: 22px;
  width: 450px;
  cursor: pointer;
}
.log_sign:hover {
  background: white;
  color: red;
}
.input-group-append {
  display: none;
}
.h1_form_cont {
  margin: 10px auto;
  width: 450px;
  text-align: center;
}
.log_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h1_form_cont h1 {
  font-size: 30px;
}
.card_footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  margin: 10px 0;
}
.a {
  color: blue;
}
