.pass_content {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 248, 255, 0.103);
  position: relative;
}
.ch_h {
  font-size: 30px;
}

.ch_cancel {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ch_cancel > h4 {
  font-size: 30px;
}
.ch_cancel > p {
  font-size: 16px;
}

.ch_forms > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.ch_row {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 18px;
}
.ch_row > input {
  width: 300px;
  height: 40px;
  padding: 5px;
}
.ch_btn {
  width: 300px;
  height: 40px;
  background: none;
  border: 2px solid white;
  cursor: pointer;
  font-size: 20px;
}
.ch_btn:hover {
  background-color: green;
}
