.reg_wrap {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: brown;
}
.reg_inpts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reg_inp_cont{
  margin: 20px 0;
}

.form2_group {
  width: 100%;
} 

.form_row3 {
  display: flex;
  justify-content: space-between;
  gap: 10px ;

  width: 100%;
}

.col_md_7 > .form2_group {
  display: flex;
  flex-direction: column;
}

.form2_group > input {
  width: 280px;
  padding: 10px 15px;
  outline: none;
}

#password1 {
  width: 280px;
}

#password2 {
  width: 280px;
}


.form2_group > button{
  width: 100%;
  background-color: rgba(255, 0, 0, 0.555);
  color: white;
  padding: 10px 15px;
  border: none  ;
  margin-top: 25px;
}

.have{
  color: white;
}